
<h1>Enter Product to be Updated:</h1>

<%= form_tag("/products/#{@recipe.id}", method: "patch") do %>
  <%= label_tag(:name) %>
  <%= text_field_tag(:name, @product.name) %>

  <%= label_tag(:price) %>
  <%= text_field_tag(:price, @product.price) %>

  <%= label_tag(:image) %>
  <%= text_field_tag(:image, @product.image) %>

  <%= label_tag(:description) %>
  <%= text_field_tag(:description, @product.description) %>

<div>
  <%= submit_tag("Enter New Product") %>
</div>
<% end %>
