<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: steelblue;}
h1   {color: blue;}
h2   {color: orange}
p    {color: red;}
</style>
</head>
<body>

<h1 align="center">This is the <%= @product.name %></h1>

          <h2 align="center"><%= @product.name %></h2>
          <h4 align="center"><a href="@product"><%= @product.price %></h4>
          <h2 align="center"> <img src="<%= @product.image %>" alt"" height="300" width="300"></h2>
          <h5 align="center"><%= @product.description %></h5>

<div><%= link_to "Back to all products", "/products" %></div>
<div><%= link_to "Delete", "/products/#{@product.id}", method: "delete" %></div>
<div><%= link_to "Edit", "/products/#{@product.id}/edit" %></div>
