

<h1 align="center">This is the <%= @product.name %></h1>
<h2><%= @product.supplier.name %></h2>
<h2 color: red;><%= @product.sales_message %></h2>
<h2>Tax: <%=  @product.tax %></h2>
<h2>For a Total: <%= @product.total %></h2>

          <h2 align="center"><%= @product.name %></h2>
          <h4 align="center"><a href="@product"><%= @product.price %></a></h4>
          <h2 align="center"> <img src="<%= @product.image %>" alt"" height="300" width="300"></h2>
          <h5 align="center"><%= @product.description %></h5>

          <h3>Checkout</h3>
          <%= form_tag '/checkout', method: :post do  %>
            <div>
              <%= label_tag :quantity %>
              <%= text_field_tag :quantity %>
            </div>
            <% label_tag :product_id %>
            <%= hidden_field_tag :product_id, @product.id %>
            <div>
            <%= submit_tag "Add to Cart" %>
          </div>
            <%end %>

<div><%= link_to "Back to all products", "/products" %></div>
<div><%= link_to "Delete", "/products/#{@product.id}", method: "delete" %></div>
<div><%= link_to "Edit", "/products/#{@product.id}/edit" %></div>
<h4> Categories:</h4>
<% @product.categories.each do |category| %>
<%= category.name %>
<% end %>
