

<h1 align="center">This is the <%= @product.name %></h1>
<h2><%= @product.supplier.name %></h2>
<h2 color: red;><%= @product.sales_message %></h2>
<h2>Tax: <%=  @product.tax %></h2>
<h2>For a Total: <%= @product.total %></h2>

          <h2 align="center"><%= @product.name %></h2>
          <h4 align="center"><a href="@product"><%= @product.price %></a></h4>
          <h2 align="center"> <img src="<%= @product.image %>" alt"" height="300" width="300"></h2>
          <h5 align="center"><%= @product.description %></h5>

          <h3 align="center">Checkout</h3>
          <h4 align="center"><%= form_tag '/checkout', method: :post do  %>
            <div>
              <%= label_tag :quantity %>
              <%= text_field_tag :quantity %>
            </div>
            <% label_tag :product_id %>
            <%= hidden_field_tag :product_id, @product.id %>
            <div>
            <h3 align="center"><%= submit_tag "Add to Cart", class: "btn btn-success" %></h3>
          </div>
        </h4>
            <%end %>

<h3 align="center"><%= link_to "Back to all products", "/products", class: "btn btn-warning" %></h3>
<h3 align="center"><%= link_to "Delete", "/products/#{@product.id}", method: "delete", class: "btn btn-danger" %></h3>
<h3 align="center"><%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-primary" %></h3>
<h2 align="center"> Categories:</h2>
<% @product.categories.each do |category| %>
<h4 align="center"><%= category.name %></h4>
<% end %>
